body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}
.main {
    display: flex;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-left: 300px;
    height: 740px;
    width: 110px;
    border: 1px solid rgb(215, 190, 144);
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 82px;
    width: 98px;
    border-radius: 8px;
    background-color: #D8E6FF;
}

.home div {
    color: #133774;
    font-size: 15px;
    font-weight: 550;
}

.workspace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.marpol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.oh {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.insight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.setting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}