body {
    padding: 0;
    margin: 0;
    background:  linear-gradient(90deg, rgb(160, 198, 201) 0%, rgb(30, 91, 223) 35%, rgb(9, 16, 63) 90%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, rgb(221, 221, 224) 0%, rgb(107, 107, 107) 35%, rgb(25, 25, 26) 100%);;
    height: 120px;
}

.list {
    display: none;
    color: rgb(75, 72, 72);
    font-size: 16px;
    background: rgb(247, 241, 241);
    padding: 5px 8px;
    border-radius: 6px;
}

.list-1 {
    display: none;
    color: rgb(75, 72, 72);
    font-size: 16px;
    background: rgb(247, 241, 241);
    padding: 5px 8px;
    border-radius: 6px;
    text-decoration: underline;
}

.list-2 {
    display: none;
    color: rgb(75, 72, 72);
    font-size: 16px;
    background: rgb(247, 241, 241);
    padding: 5px 8px;
    border-radius: 6px;
}

.showList {
    display: block !important;
}

#home {
    margin: 20px 30px;
    color: white;
    font-size: 22px;
}

.option {
    margin: 20px 30px;
    color: white;
    font-size: 22px;
}

.option-1 {
    margin: 20px 30px;
    color: white;
    font-size: 22px;
}

.option-2 {
    margin: 20px 30px;
    color: white;
    font-size: 22px;
}



#home:hover {
    text-decoration: underline;
    color: rgb(68, 68, 68);
    padding: 2px;
    background: white;
    border-radius: 5px;
}

.heading::first-letter {
    font-size: 60px !important;
    color: rgb(117, 26, 71);
    font-weight: bold;
    text-shadow: 3px 3px 5px rgb(180, 177, 177);
}

.heading {
    font-size: 35px;
    color: antiquewhite;
    text-align: center;
    margin: 20px 0px;
}

.js {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pokemon {
    height: 250px;
    width: 300px;
}

.hide {
    background:  rgb(14, 23, 83);
    margin-left: 45%;
    padding: 5px 15px;
    color: white;
    font-weight: 600;
}