body {
    padding: 0;
    margin: 0;
    background: rgb(34, 34, 34);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(180, 102, 102);
}

.list {
    display: none;
    color: white;
    font-size: 16px;
}

.list-1 {
    display: none;
    color: white;
    font-size: 16px;
}

.list-2 {
    display: none;
    color: white;
    font-size: 16px;
}
.showList {
    display: block !important;
}

#home {
    margin: 20px 30px;
    color: white;
    font-size: 22px;
}

.option {
    margin: 20px 30px;
    color: white;
    font-size: 22px;
}

.option-1 {
    margin: 20px 30px;
    color: white;
    font-size: 22px;
}

.option-2 {
    margin: 20px 30px;
    color: white;
    font-size: 22px;
}



#home:hover {
   text-decoration: underline;
   color: rgb(68, 68, 68);
}

 