body {
    margin: 0px;
    padding: 0px;
    background: url(bg.jpg);
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.id {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 100px; */
}

.name {
    color: rgb(230, 230, 230);
    font-size: 5em;
    font-weight: bolder;
}

.name1 {
    color: rgb(211, 82, 82);
    font-size: 5em;
    font-weight: bolder;
}

.box {
    background: white;
    margin: 0px 100px;
    margin-top: 100px;
    height: 100%;
    width: 1000;
    color: white;
    margin-bottom: 200px;
}

.nav {
    background-color: rgb(82, 82, 82);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    margin: 20px 10px;
    font-weight: bold;
}

.navbar div {
    margin-left: 20px;
}

.image {

    display: flex;
    /* width: 30px; */
    height: 40px;
    margin-right: 20px;

}

.image img {
    background-color: rgb(82, 82, 82);
    margin-left: 10px;
}

.date {
    margin: 80px 0px;
    text-align: center;
    font-size: 2em;
    font-weight: 550;
    color: rgb(46, 46, 46);
}

.text {
    margin-top: 70px;
    margin-left: 380px;
    font-size: 4.5em;
    font-weight: bolder;
    width: 600px;
    color: rgb(46, 46, 46);
}

.text2 {
    margin-top: 30px;
    margin-left: 340px;
    text-align: center;
    width: 500px;
    color: rgb(46, 46, 46);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text1 {
    margin-left: 300px;
    font-size: 4.5em;
    font-weight: bolder;
    width: 600px;
    color: rgb(46, 46, 46);
}

.box2 {
    margin-top: 150px;
    margin-left: 170px;
    color: rgb(46, 46, 46);
}

.box2 img {
    height: 400px;
    width: 800px;
}

.box2 div {
    border: 2px solid rgb(80, 80, 80);
    padding: 10px 40px;
    margin: 50px 330px;
    width: 75px;
    font-size: 18px;
    font-weight: bold;
}

.box3 {
    display: grid;
    grid-template-columns: 576px 576px;
    margin-top: 100px;
    color: rgb(46, 46, 46);
}

.box4 {
    height: 700px;
    width: 574px;
    border: 2px solid rgb(160, 160, 160);

}

.line1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    font-size: 18px;
}

.one {
    margin-top: 20px;
    font-size: 2px;
}

.two {
    font-weight: bold;
    font-size: 2em;
}

.three {
    margin: 40px 0px;
    width: 420px;
    font-size: 19px;
}

.line1 img {
    margin-top: 20px;
    height: 250px;
    width: 400px;
}

.story {
    padding: 10px 35px;
    border: 2px solid rgb(65, 64, 64);
    border-radius: 5px;
}

.story:hover {
    border: 2px solid rgb(123, 161, 177);
    color: rgb(102, 175, 175);
    font-weight: bold;
}

.box6 {
    display: flex;
}

.box5 {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.box7 {
    display: flex;
    flex-direction: column;
    color: rgb(117, 117, 117);
    background: rgb(238, 238, 238);
    font-size: 18px;
}

.naam {
    margin-top: 40px;
    margin-left: 40px;
    color: rgb(78, 78, 78);
    font-size: 18px;
}

.naam input {
    /* margin-left: 25px; */
    height: 30px;
    width: 380px;
}

.mess {
    margin-top: 30px;
    margin-left: 40px;
    color: rgb(78, 78, 78);
    font-size: 18px;
}

.mess input {
    height: 90px;
    width: 380px;
}

.send {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 70px;
    font-weight: bold;
    font-size: 17px;
    border: 2px solid rgb(177, 174, 174);
    padding: 10px 25px;
    width: 102px !important;
    color: rgb(116, 113, 113);
}

.box5 input:hover {
    border: 2px solid rgb(88, 157, 182);
}

.address {
    margin-top: 60px;
    margin-left: 250px;
    margin-right: 195px;
    width: 280px;
    font-weight: bold;
}

.box7 span {
    margin-left: 20px;
    color: rgb(145, 145, 145);
    font-size: 15px;
    font-weight: 500;
}

.phone {
    margin-top: 70px;
    margin-left: 250px;
    font-weight: bold;
}

.mail {
    margin-top: 90px;
    margin-left: 250px;
    font-weight: bold;

}