body {
    padding: 0;
    margin: 0;
    background: rgb(48, 47, 47);
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    background: rgb(35, 16, 44);
    opacity: 0.8;
    z-index: 1;
}

.navFirstChild {
    margin-left: 20px;
    font-size: 25px;
    color: rgb(187, 240, 222);
}

.navChild {
    display: flex;
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navChild div {
    margin: 0px 30px;
}

.navChild div a {
    color: white;
    font-weight: 530;
    text-decoration: none;
}

.navChild div a:hover {
    color: rgb(188, 188, 189);
}

.about {
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
    color: rgb(12, 243, 166);
    text-shadow: 2px 2px 7px rgb(167, 168, 168);
    font-weight: 550;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main {
    display: flex;
    margin: 40px 200px;
    background: rgb(102, 102, 102);
    padding: 60px;
    margin-bottom: 90px !important;
}

.main img {
    margin-right: 80px;
    border-radius: 6px;
    height: 250px;
    width: 170px;
}

.aboutMe {
    display: flex;
    flex-direction: column;
}

.aboutMe div {
    margin: 10px;
    font-size: 22px;
}

hr {
    margin: 20px 90px;
}

.fav {
    margin: 60px 100px;
    background: rgb(85, 84, 84);
    
}

.fav div {
    text-align: center;
    color: rgb(255, 241, 225);
    font-size: 60px;
    font-weight: 550;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.drawing {
    display: flex;
    justify-content: center;
}

.drawing img {
    height: 340px;
    /* width: 250px; */
    margin: 60px 30px;
    border-radius: 6px;

}