
body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
    margin-top: 59px;
    display: flex;
    width: 100%;
}

.leftSideBar {
    color: white;
    width: 250px;
    background-color: rgb(65, 65, 65);
    overflow-y: auto;
    height: 90vh;
}

.leftSideBar::-webkit-scrollbar {
    display: none;
}

.leftSideBarItems {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.leftSideBarItems img {
    margin-left: 20px;
    width: 30px;
    border-radius: 100%;
}

.leftSideBarItems div {
    margin-left: 20px;
    margin-right: 40px;
    font-size: 17px;
}

.leftSideBarItems yt-icon {
    width: 30px;
    margin-left: 20px; 
}

.right {
    max-width: calc(100% - 250px);
    overflow-x: auto;
}

.right::-webkit-scrollbar {
    display: none;
}

.option {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 60px;
    background: rgb(47, 47, 47);
    border: 1px solid grey;
    max-width: 100%;
    overflow-x: auto;
}

.option::-webkit-scrollbar {
    display: none;
}

.option div {
    min-width: fit-content !important;
    border: 1px solid rgb(51, 51, 51);
    background-color: rgb(100, 100, 100);
    border-radius: 20px;
    padding: 5px 10px;
    margin: 10px 10px;
    font-size: 18px;
    color: white;
}

.videos {
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    flex-wrap: wrap;
    max-height: 77vh;
    overflow-y: scroll;
}
.videos::-webkit-scrollbar {
    display: none;
}


.post {
    width: 24%;
}

.post img {
    width: 100%;
    display: flex;
}


.channelLogo {
    margin: 10px 10px;
    height: 30px ;
    width: 30px!important;
   border-radius: 100%;
}

.detail {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
#Topic {
    font-size: 20px;
    font-weight: 560;
}
#channelName {
    color: grey;
    margin-top: 6px;
    font-size: 18px;
}
#views {
    color: grey;
    font-size: 18px;
    margin-bottom: 50px;
}

.centerPartTwo {
    display: flex;
    color: white;
    margin-left: 40px;
}
.box {
    width: 1550px;
    height: 2px;
    background-color: grey;
    border: 1px solid rgb(62, 62, 62);
    margin: 20px 60px;
}
.caption {
    display: flex;
}

.id {
    margin-left: 23px;
    font-size: 18px;
    color: grey;
    font-weight: 550;

}
